<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreP">Nombre de la proyecto </label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" required>
                </div>
                <div class="form-group">
                    <label for="anioP">Período </label>
                    <input type="text" class="form-control" id="anioP" name="anioP" [(ngModel)]="anioP" required>
                </div>


                <div class="form-group">
                    <label for="descripcionP">Descripcion </label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="descripcionP" required>
                </div>
                <button class="btn btn-primary">
                    Agregar proyecto
                </button>
            </form>
        </div>
    </div>
</div>

