<div class="row">
  <h1>Proyectos</h1>
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-light"
      routerLink="/nuevoproyecto"
      *ngIf="isLogged"
    >
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>

  <div class="table-reponsive" id="no-more-tables">
    <table class="table">
      <tbody>
        <tr *ngFor="let Proyectos of proyectos">
          <td>
            <h2>{{ Proyectos.nombreP }}</h2>
          </td>
          <td><i class="fas fa-calendar mr-2"></i> {{ Proyectos.anioP }}</td>
          <td>{{ Proyectos.descripcionP }}</td>
          <td *ngIf="isLogged">
            <button
              type="button"
              class="btn btn-light"
              routerLink="/editproyectos/{{ Proyectos.id }}"
            >
              <span class="bi bi-pencil-fill"></span>
            </button>
          </td>
          <td *ngIf="isLogged">
            <button
              type="button"
              class="btn btn-light"
              (click)="delete(Proyectos.id)"
            >
              <span class="bi bi-trash-fill"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
