<div class="row">
   <h1>Mis proyectos</h1>
   <div class="contenedor">
       <div class="col-sm12 col-md-7 col-lg-7">
        <h1>e-sales </h1>
        <p> Desarrollamos un sitio web de  comercio electrónico front end, basado en Angular de alto tráfico con diseño innovador basado en UIX. Totalmente integrado con los sistemas CRM y ERP internos. </p>
       </div>
      
       <div class="col-sm12 col-md-7 col-lg-7" >
        <h1>Sistema de Monitoreo </h1>
        <p> Desarrollamos un Back End basado en API rest con la tecnología Spring Boot para power datos de monitoreo a aplicaciones distribuídas, también el desarrollo de interfaces entres sistemas de gestión para automatizar procesos.</p>
       </div>




   </div>




</div>