<div class= row>
    <h1>Educacion</h1> 
    <div class= "col-lg-11">
      
    <ul>
      <li>
      <h1> Yo programo</h1> <h3>Desde 2022</h3></li>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis nesciunt velit quidem vel, laudantium totam rem atque magnam quae asperiores distinctio esse, enim excepturi corporis cum odit iusto delectus? Odit.</p>
    </ul>

    <ul>
     <li>
     <h1> Logica de Programación </h1> <h3>MARZO 2022 </h3></li>
     <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis nesciunt velit quidem vel, laudantium totam rem atque magnam quae asperiores distinctio esse, enim excepturi corporis cum odit iusto delectus? Odit.</p>
    </ul>

    <ul>
     <li>
     <h1> Argentina Programa </h1> <h3>2022</h3></li>
     <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis nesciunt velit quidem vel, laudantium totam rem atque magnam quae asperiores distinctio esse, enim excepturi corporis cum odit iusto delectus? Odit.</p>
    </ul>
</div>  
</div> 


