<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img
        src="https://argentinaprograma.inti.gob.ar/pluginfile.php/135661/user/icon/moove/f1?rev=235859  "
        class="img-fluid rounded-circle"
        id="fotorostro"
        alt="Foto de perfil"
      />
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <button type="button" class="btn btn-light" routerLink="/editacercade/1">
        <span class="bi bi-pencil-fill" *ngIf="isLogged"></span>
      </button>
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="{{ persona?.img }}" class="img-fluid" id="fotorostro" alt="" />
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">{{ persona?.nombre }} {{ persona?.apellido }}</p>
      <p>Full Stack Developer Jr.</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12">
      <span>
        <h1>Acerca de ...</h1>
        <p>{{ persona?.descripcion }}</p>
      </span>
    </div>
  </div>
</div>

<!-- 
*ngIf="isLogged" -->
