.row{ 
    border-radius: 60px;
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 15px ;
    background-color: #50a8b4;
    /* text-align: center; */
    margin-left: 2px;
    margin-right: 2px;
 }




@media (min-width: 576px){
 #fotorostro {
    position: absolute;
    width: 15%;
    /* border-radius:100%; */
    box-shadow: 3px 3px 3px grey;
    left: 3%;
    top:578px;
 }


}

@media (max-width: 575px){
    #fotorostro {
       position: absolute;
       width: 30%;
       border-radius:100%;
       box-shadow: 3px 3px 3px grey;
       left: 33%;
       top: 685px;
    }
   
   
   }

#nombre{
    font-weight:bold;
    margin-top:30%;
   
}