.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background:#2b3131  ;


}
.redes{
       margin-right: 0.5em;
}
.btn{
    border-width: medium;
}

#logoAP{
    width: 150px;
}

#logoYoProgramo{
    width: 35px ;
   
}

img{
    width: 50px;
    
    }


@media(max-width: 575px){
    .container{
        flex-direction: column;
    }

}